[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=exec
User=minecraft
Group=minecraft
WorkingDirectory=/srv/minecraft/
SyslogIdentifier=minecraft
EnvironmentFile=/srv/minecraft/environment

ExecStart=/usr/bin/java -Xms2G -Xmx2G -jar /srv/minecraft/server.jar --nogui

ExecStop=/path/to/mcrcon-dir/mcrcon "stop"
KillMode=none

Restart=on-failure
RestartSec=10s

# filesystem access
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ReadWritePaths=/srv/minecraft/

# network
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

# misc
SystemCallArchitectures=native
NoNewPrivileges=true
PrivateUsers=true
RestrictRealtime=true
#MemoryDenyWriteExecute=true
ProtectKernelLogs=true
LockPersonality=true
ProtectHostname=true
RemoveIPC=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
